<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.cdnfonts.com/css/martian-mono" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Настройки аккаунта</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="header">
        <h1 onclick="window.location.href='/documents'">Список дел</h1>
        <button class="account_button" title="Настройки аккаунта"> {{ username }} 🧑‍💻</button>
    </header>
    <main>
        <div class="account_settings">
            <h2>Настройки аккаунта</h2>
            <form id="settings-form" action="/account" method="post">
                <div class="form_change">
                    <input maxlength="20" type="text" id="login" name="login" placeholder="Изменить текущий логин">
                </div>
                <div class="form_change">
                    <input maxlength="60" type="password" id="password" name="password" placeholder="Изменить текущий пароль">
                </div>
                <div class="form_change">
                    <button class="button1"type="submit" title="Сохранить изменения">Сохранить</button>
                    <button class="button1" type="button" onclick="window.location.href='/logout'">Выйти</button>
                    <button class="delete" type="button" onclick="window.location.href='/delete_account'">Удалить аккаунт</button>
                </div>
            </form>
        </div>
    </main>
</body>
</html>